<?php
/**
 * Plugin Name:       {{title}}
{{#description}}
 * Description:       {{description}}
{{/description}}
 * Requires at least: 5.8
 * Requires PHP:      7.0
 * Version:           {{version}}
{{#author}}
 * Author:            {{author}}
{{/author}}
{{#license}}
 * License:           {{license}}
{{/license}}
{{#licenseURI}}
 * License URI:       {{{licenseURI}}}
{{/licenseURI}}
 * Text Domain:       {{textdomain}}
 *
 * @package           {{namespace}}
 */

include_once('class-DynamicBlock.php');

${{namespaceSnakeCase}} = new {{slugPascalCase}}\\DynamicBlock('{{slugSnakeCase}}','{{namespaceSnakeCase}}_{{slugSnakeCase}}_render_callback');

function {{namespaceSnakeCase}}_{{slugSnakeCase}}_render_callback($attributes){
	$html = '<div '.get_block_wrapper_attributes().'>'.esc_html_e( 'Dynamic Block Example', '{{textdomain}}' ).'</div>';
    return $html;
}